@use '@/styles/abstract/variables' as *;

.postHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-2;

  .title {
    text-align: center;
  }

  .time {
    margin: 0;
    text-align: center;
  }
}
