@use '@/styles/abstract/variables' as *;

.postList {
  .title {
    margin-bottom: $space-2;
  }

  .postGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: $space-6;
    padding: $space-2 0;
  }
}
