@use '@/styles/abstract/variables' as *;

.postList {
  .title {
    margin-bottom: $space-2;
  }

  .postGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: $space-6;
    padding: $space-2 0;
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .page {
      display: flex;
      align-items: center;
      gap: $space-2;

      .pageInput {
        text-align: center;
        width: 3ch;
        padding: 0 $space-1;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: $space-2;
    }
  }
}
