@use '@/styles/abstract/variables' as *;

.mainNav {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  padding: $space-3 $space-6;
  font-size: $font-size-sm;
  font-weight: 500;
  background-color: $color-background;

  a {
    transition: color ease 0.2s;
  }

  a:hover {
    color: $color-text-title;
  }

  .navigation {
    .menu {
      display: flex;
      gap: $space-4;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: $space-4;
  }

  button {
    padding: $space-1 $space-2;
  }
}
