@use '@/styles/abstract/_variables' as *;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-4 $space-6;
  background-color: $color-background-sub;
  border-top: 1px solid $color-border;

  .socialList {
    display: flex;
    gap: $space-1;

    .socialLink {
      font-size: $font-size-lg;
      padding: $space-1 $space-2;
      border: 1px solid $color-border;
      border-radius: $radius-sm;
      opacity: 0.8;

      &:hover {
        opacity: 1;
        background-color: $color-border;
      }
    }
  }
}
