@use '@/styles/abstract/variables' as *;

.postNavigation {
  flex: 1;

  .title {
    font-size: $font-size-lg;
    margin-bottom: $space-1;
  }

  ul {
    display: flex;
    flex-direction: column;

    li {
      padding: $space-1 $space-2;
    }

    a {
      opacity: 0.6;
      transition: opacity ease 0.2s;

      &:hover {
        opacity: 1;
        text-decoration: underline;
      }

      &.active {
        opacity: 1;
      }
    }
  }
}
