@use '@/styles/abstract/variables' as *;

.commentForm {
  display: flex;
  flex-direction: column;
  gap: $space-2;
  width: 60%;
  min-width: 300px;
  align-self: center;

  .sendBtn {
    align-self: flex-end;
  }
}

.notiBox {
  border: 1px solid $color-border;
  border-radius: $radius-sm;
  padding: $space-2;
  text-align: center;
  margin-bottom: 0;
  width: 60%;
  min-width: 300px;
  align-self: center;

  a {
    text-decoration: underline;
  }
}
