@use '@/styles/abstract/variables' as *;

.postImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-3;

  img {
    width: 60%;
    min-width: 300px;
    border-radius: $radius-sm;
  }

  figcaption {
    opacity: 0.8;
    text-align: center;
  }
}
