@use '@/styles/abstract/variables' as *;

.header {
  .siteBranding {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $space-1;
    padding: $space-6;
    background-color: $color-background-sub;

    .logo {
      font-family: $font-heading;
      font-size: $font-size-xl;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 1;
      font-weight: 600;
      color: $color-text-title;
    }

    .motto {
      margin-bottom: 0;
    }
  }
}
