@use '@/styles/abstract/_variables' as *;

.header {
  .siteBranding {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $space-1;
    padding: $space-6;
    background-color: $color-background-sub;

    .logo {
      font-family: $font-heading;
      font-size: $font-size-xl;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 1;
      font-weight: 600;
      color: $color-text-title;
    }

    .motto {
      margin-bottom: 0;
    }
  }

  .mainNav {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    padding: $space-3 $space-6;
    font-size: $font-size-sm;
    font-weight: 500;

    a {
      transition: color ease 0.2s;
    }

    a:hover {
      color: $color-text-title;
    }

    .navigation {
      .menu {
        display: flex;
        gap: $space-4;
      }
    }

    .actions {
      display: flex;
      gap: $space-4;
    }
  }
}
