@use '@/styles/abstract/variables' as *;

.postPage {
  display: flex;
  flex-direction: column;
  gap: $space-3;

  .currentPost {
    display: flex;
    gap: $space-6;

    .postDetail {
      flex: 4;
      display: flex;
      flex-direction: column;
      gap: $space-4;
    }
  }
}
