@use '@/styles/abstract/variables' as *;

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-4;
  padding: $space-4 0;

  .logo {
    width: 10%;
    min-width: 100px;
  }

  .title {
    color: $color-text-title;
    text-align: center;
    width: 50%;
    min-width: 200px;
  }

  .description {
    text-align: center;
    width: 70%;
    min-width: 200px;
  }
}
