@use '@/styles/abstract/variables' as *;

.commentList {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: $space-3;
  width: 60%;
  min-width: 300px;

  .list {
    display: flex;
    flex-direction: column;
    gap: $space-2;
  }

  .notiBox {
    border: 1px solid $color-border;
    border-radius: $radius-sm;
    padding: $space-2;
    text-align: center;
    margin-bottom: 0;

    a {
      text-decoration: underline;
    }
  }

  .commentForm {
    display: flex;
    gap: $space-2;

    .commentTextArea {
      flex: 1;
    }
  }
}
